.body{
    background-clip: content-box;
    background-color:antiquewhite;
}
.a-customcard:hover {
    color: inherit;
  }

.contentblog{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: black;
    background-image: url("../images/dropback.jpg");
    justify-content: center;
    text-align: center;
    color: aliceblue;
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.contentblog2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image:url("../images/dropbackother.jpg");
    color: aliceblue;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.backgroundduty{
  background-image: url('../images/manshadow.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    
}

.texture2{
    background-image: url('../images/texture2.jpg');
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}
.report{
    background-image: url('../images/dropback3.jpg');
    height: 100vh;
    opacity: 0.25;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}

.textparagraph{
    margin-top: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    text-indent: 2em;
    font-size: medium;
    font-size: 2vw;

}


.picmodal{
    margin-left: auto;
    margin-right: auto;
}
